<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Page Title</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">
  <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>

  <script type="text/javascript">
    function startTime() {
        var today=new Date();
        var h=today.getHours();
        var m=today.getMinutes();
        var s=today.getSeconds();
        var day=today.getDay();
        var dia=today.getDate();
        var ano=today.getFullYear();
        var semana = new Array(6);
        semana[0]='Domingo';
        semana[1]='Segunda-Feira';
        semana[2]='Terça-Feira';
        semana[3]='Quarta-Feira';
        semana[4]='Quinta-Feira';
        semana[5]='Sexta-Feira';
        semana[6]='Sábado';
        day = semana[day];

        var month=today.getMonth();
        var mes = new Array(12);
        mes[0] = 'Janeiro';
        mes[1] = 'Fevereiro';
        mes[2] = 'Março';
        mes[3] = 'Abril';
        mes[4] = 'Maio';
        mes[5] = 'Junho';
        mes[6] = 'Julho';
        mes[7] = 'Agosto';
        mes[8] = 'Setembro';
        mes[9] = 'Outubro';
        mes[10] = 'Novembro';
        mes[11] = 'Dezembro';
        month = mes[month];
        // add a zero in front of numbers<10
        m=checkTime(m);
        s=checkTime(s);
        document.getElementById('txt').innerHTML=h+":"+m+":"+s+"<br>"+day+"<br>"+dia+" de "+month+" "+"de "+ano;
        t=setTimeout('startTime()',500);
    }
   
    function checkTime(i){
    if (i<10) {
        i="0" + i;
    }
        return i;
    }
    </script>

</head>
<body onload="startTime()" style="background-color:#EEBA30;">
  <!-- Uses a header that scrolls with the text, rather than staying
    locked at the top -->
  <div class="mdl-layout mdl-js-layout">
    <header class="mdl-layout__header mdl-layout__header--scroll"  style="background-color:#740001;color:#EEBA30;">
      <div class="mdl-layout__header-row">
        <!-- Title -->
        <span class="mdl-layout-title" style="color:#EEBA30;">Title</span>
        <!-- Add spacer, to align navigation to the right -->
        <div class="mdl-layout-spacer"></div>
        <!-- Navigation -->
        <nav class="mdl-navigation">
          <a class="mdl-navigation__link" style="color:#EEBA30;" href="">Despertador</a>
        <a class="mdl-navigation__link" style="color:#EEBA30;" href="">Cronômetro</a>
        <a class="mdl-navigation__link" style="color:#EEBA30;" href="">Nox</a>
        </nav>
      </div>
    </header>
    <div class="mdl-layout__drawer">
      <span class="mdl-layout-title">Title</span>
      <nav class="mdl-navigation">
        <a class="mdl-navigation__link" href="">Despertador</a>
        <a class="mdl-navigation__link" href="">Cronômetro</a>
        <a class="mdl-navigation__link" href="">Nox</a>
      </nav>
    </div>
    <main class="mdl-layout__content" >
      <div class="page-content" align="center"><!-- Your content goes here -->
        <h1 id="txt"></h1>
      </div>
    </main>
  </div>
</body>
</html>